<!DOCTYPE html>
<meta charset="UTF-8" />
<style>
  div#app {
    border-width: 1px;
    border-color: sandybrown;
    border-style: solid;
    padding: 0.25em;
    margin: 1em 0;
  }
</style>
<title><%= htmlWebpackPlugin.options.title %></title>
<header>
  <h1>PoC - Flexible web application architecture</h1>
  <h2><%= htmlWebpackPlugin.options.description %></h2>
</header>
<main>
  <section>
    <h3>Technologies</h3>
    <img src="assets/logo.javascript.png" title="JavaScript" width="100" />
    <img src="assets/logo.typescript.png" title="TypeScript" width="100" />
    <img src="assets/logo.babel.png" title="Babel" width="100" />
    <img src="assets/logo.webpack.png" title="Webpack" width="100" />
  </section>
  <section>
    <h3>Frameworks</h3>
    <img src="assets/logo.angular.png" title="Angular" width="100" />
    <img src="assets/logo.angularjs.png" title="AngularJS" width="100" />
    <img src="assets/logo.inferno.png" title="Inferno" width="100" />
    <img src="assets/logo.react.png" title="React" width="100" />
    <img src="assets/logo.vue.png" title="Vue" width="100" />
  </section>
  <section>
    <h3>App</h3>
    <div id="app"></div>
  </section>
</main>
<footer>
  <hr />
  <code>
    <b>Author:</b> <%= htmlWebpackPlugin.options.author.name %> |
    <a href="mailto:<%= htmlWebpackPlugin.options.author.email %>"><%= htmlWebpackPlugin.options.author.email %></a> |
    <a href="<%= htmlWebpackPlugin.options.author.url %>" target="<%= htmlWebpackPlugin.options.author.url %>"
      ><%= htmlWebpackPlugin.options.author.url %></a
    ></code
  >
</footer>
