<!DOCTYPE html>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<style>
  div#app {
    border-width: 1px;
    border-color: sandybrown;
    border-style: solid;
    padding: 0.25em;
    margin: 1em 0;
  }
</style>
<title><%= htmlWebpackPlugin.options.title %></title>
<div class="container-fluid">
  <header>
    <h1><%= htmlWebpackPlugin.options.title %></h1>
    <h2><%= htmlWebpackPlugin.options.description %></h2>
  </header>
  <main>
    <div class="row">
      <div class="col">
        <h3>Technologies</h3>
        <img src="assets/logo.javascript.png" title="JavaScript" width="100" />
        <img src="assets/logo.typescript.png" title="TypeScript" width="100" />
        <img src="assets/logo.babel.png" title="Babel" width="100" />
        <img src="assets/logo.webpack.png" title="Webpack" width="100" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>Frameworks</h3>
        <img src="assets/logo.angular.png" title="Angular" width="100" />
        <img src="assets/logo.angularjs.png" title="AngularJS" width="100" />
        <img src="assets/logo.inferno.png" title="Inferno" width="100" />
        <img src="assets/logo.preact.png" title="Preact" width="100" />
        <img src="assets/logo.react.png" title="React" width="100" />
        <img src="assets/logo.vue.png" title="Vue" width="100" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>App</h3>
        <div id="app"></div>
      </div>
    </div>
  </main>
  <footer>
    <hr />
    <code>
      <b>Author:</b> <%= htmlWebpackPlugin.options.author.name %> |
      <a href="mailto:<%= htmlWebpackPlugin.options.author.email %>"><%= htmlWebpackPlugin.options.author.email %></a> |
      <a href="<%= htmlWebpackPlugin.options.author.url %>" target="<%= htmlWebpackPlugin.options.author.url %>"
        ><%= htmlWebpackPlugin.options.author.url %></a
      ></code
    >
  </footer>
</div>
