// https://github.com/material-components/material-components-web/tree/master/packages/mdc-theme
$mdc-theme-primary: #fa02d1
$mdc-theme-secondary: #c6fd00
$mdc-theme-on-primary: #442b2d
$mdc-theme-on-secondary: #442b2d

@import ~@material/button/mdc-button
@import ~@material/slider/mdc-slider
@import ~@material/textfield/mdc-text-field

div
    #app
        // display: none
        border-width: 1px
        border-color: sandybrown
        border-style: solid
        padding: 0.25em
        margin: 1em 0
        float: left

ul
    list-style: none
    margin: 0
    padding: 0

    li
        float: left
